<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstone.demokoling">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demokoling"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"/>

        <activity
            android:name=".SearchResultsActivity"
            android:exported="false" />
        <activity
            android:name=".SARActivity"
            android:exported="false" />
        <activity
            android:name=".PMIActivity"
            android:exported="false" />
        <activity
            android:name=".DamkarActivity"
            android:exported="false" />
        <activity
            android:name=".DetailResultActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_service_detail"
            android:theme="@style/Theme.Demokoling.NoActionBar" />
        <activity
            android:name=".StoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".UploadStoryActivity"
            android:exported="false"
            android:label="@string/title_activity_upload"
            android:theme="@style/Theme.Demokoling.NoActionBar" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".StoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.NoDemoKoling.NoActionBar" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RSActivity" />
        <activity
            android:name=".PolisiActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAG1HY8Xoztce2-yK5vCSb_swIbAihw3zY" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.capstone.demokoling.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>